{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking_main.css') }}">
{% endblock %}

{% block content %}
<div id="bookingContainer" class="container">
    <div class="booking-steps">
        <div id="bookingStep1" class="booking-step">
            <strong>01<br>상영시간</strong>
        </div>
        <div id="bookingStep2" class="booking-step">
            <strong>02<br>인원/좌석</strong>
        </div>
        <div id="bookingStep3" class="booking-step">
            <strong>03<br>결제</strong>
        </div>
        <div id="bookingStep4" class="booking-step">
            <strong>04<br>결제완료</strong>
        </div>
    </div>
    <div class="booking-search-theaters">
        <div class="booking-search-title">영화관</div>
        <div class="booking-search-theaters-list">
            <div id="bookingLocationsList">
                <ul>
                    {% for region in regions %}
                    {% if selected_region == region %}
                    <li class="active-theater">{{ region }} ({{ theaters[region]|length }}) <span class="material-symbols-outlined">check_small</span></li>
                    {% else %}
                    <li>{{ region }} ({{ theaters[region]|length }})</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="bookingTheatersList">
                <ul>
                    {% for theater in theaters[selected_region] %}
                    {% if selected_theater == theater.name %}
                    <li class="active-theater">{{ theater.name }} <span class="material-symbols-outlined">check_small</span></li>
                    {% else %}
                    <li>{{ theater.name }}</li>
                    {% endif %}
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="booking-search-movies">
        <div class="booking-search-title">영화 선택</div>
        <div class="booking-search-movies-list">
            <div class="booking-search-movies-filter">filter</div>
            <div id="bookingMoviesList">
                <ul>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-all"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-12"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-15"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-19"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-15"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-15"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="movie poster">
                        <div class="movie-info">
                            <div class="movie-title">
                                <div class="movie-rating rating-15"></div>
                                <p>Movie Title</p>
                            </div>
                            <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> 60분</p>
                            <p class="movie-release"><span>개봉일</span> 2026.09.23</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="booking-search-schedules">
        <div class="booking-search-title">상영 일정</div>
        <div id="bookingScheduleDatePicker" class="swiper">
            <div class="swiper-wrapper">
                {% for week in datepicker %}
                <div class="swiper-slide">
                    {% for i in week %}
                    <div id="date_{{ i.full_date }}_{{ i.page_no }}" class="booking-button">
                        <p class="booking-month">{{ i.month }}</p>
                        {% if i.full_date == selected_date %}
                        <p class="booking-date active-date">{{ i.date }}</p>
                        {% else %}
                        <p class="booking-date">{{ i.date }}</p>
                        {% endif %}
                        <p class="booking-day">{{ i.day }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <form action="{{ url_for('booking.index') }}" method="get" id="selectScheduleForm">
        <input type="hidden" id="selected_region" name="selected_region" value="{{ selected_region or '' }}">
        <input type="hidden" id="selected_theater" name="selected_theater" value="{{ selected_theater or '' }}">
        <input type="hidden" id="selected_date" name="selected_date" value="{{ selected_date or '' }}">
        <input type="hidden" id="selected_date_page" name="selected_date_page" value="{{ selected_date_page or '0' }}">
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    var sub_also_viewed = new Swiper('#bookingScheduleDatePicker', {
        navigation: {
            nextEl: '#bookingScheduleDatePicker .swiper-button-next',
            prevEl: '#bookingScheduleDatePicker .swiper-button-prev'
        },
        spaceBetween: 10,
        initialSlide: "{{ selected_date_page }}"
    });

    const regions = document.querySelectorAll("#bookingLocationsList li");
    regions.forEach(region => {
        region.addEventListener("click", function() {
            // const url = '/booking/?id=42';
            // fetch(url)
            //     .then(response => {
            //         if (!response.ok) {
            //             throw new Error('Network response error');
            //         }
            //         return response.json(); // Parse JSON payload
            //     })
            //     .then(data => {
            //         // Update only a specific element on the page
            //         document.getElementById('result-container').innerText = data.message;
            //         console.log(data.items);
            //     })
            //     .catch(error => {
            //         console.error('Error fetching data:', error);
            //     });
            document.getElementById("selected_region").value = this.innerText.split(" (")[0];
            document.getElementById("selected_theater").value = '';
            document.getElementById("selectScheduleForm").submit();
        });
    });

    const theaters = document.querySelectorAll("#bookingTheatersList li");
    theaters.forEach(theater => {
        theater.addEventListener("click", function() {
            document.getElementById("selected_theater").value = this.innerHTML.split(" ")[0] != '' ? this.innerHTML.split(" ")[0] : this.innerHTML;
            document.getElementById("selectScheduleForm").submit();
        });
    });

    const dates = document.querySelectorAll(".booking-button");
    dates.forEach(date => {
        date.addEventListener("click", function() {
            document.getElementById("selected_date").value = this.id.split("_")[1];
            document.getElementById("selected_date_page").value = this.id.split("_")[2];
            document.getElementById("selectScheduleForm").submit();
        });
    });
    
</script>

{% endblock %}