<nav id="mainNav">
    <div class="main-nav-container">
        <a class="main-nav-logo" href="{{ url_for('main.index') }}"><img id="mainNavLogo" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        <ul class="main-nav-list main-nav-list-start">
            <li>
                <a href="{{ url_for('booking.index') }}">예매</a>
            </li>
            <li class="main-nav-list-dropdown-customer">
                <a href="{{ url_for('main.index') }}">고객센터</a> <span class="material-symbols-outlined">keyboard_arrow_down</span>
                <div>
                    <ul>
                        <li><a href="{{ url_for('question._list') }}">Q&A</a></li>
                        <li><a href="{{ url_for('notice.notice_list') }}">공지사항</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="main-nav-list main-nav-list-end">
            {% if g.user %}
            <li>
                <a href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth.signup') }}">회원가입</a>
            </li>
            <li class="main-nav-login">
                <a href="{{ url_for('auth.login') }}">로그인</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>